@use "../../assets/styles/" as *;

.title {
  background-color: rgb(41, 179, 99);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2px;
  padding: 20px 0px;
  margin-bottom: 20px;
  h2 {
    color: white;
    font-size: 16px;
  }
  p {
    color: white;
    font-size: 11px;
  }
}
.contentContainer{
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}
.content {
  font-size: 11px;
  margin-bottom: 20px;
  &__button {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 600px) {
  .title {
    h2 {
      font-size: 18px;
    }
    p {
      font-size: 12px;
    }
  }
  .content {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  .title {
    height: 150px;
    h2 {
      font-size: 20px;
    }
    p {
      font-size: 13px;
    }
  }
  .contentContainer{
    padding-bottom: 30px;
  }
  .content {
    padding: 0px 5%;
    font-size: 13px;
    margin-bottom: 30px;
    &__button {
      display: flex;
      padding: 0px 20%;
      gap: 20px;
      justify-content: space-around;
    }
  }
}
