@use "../../assets/styles/" as *;

.custom-select {
  &__wrapper {
    width: 100%;
    margin-top: 10px;
    .select {
      height: 35px;
      font-family: $f-family;
      border: 1px solid $primary-color;
      border-radius: 2px;
      width: 100%;
      padding: 0px 8px;
      margin-top: 7px;
      width: 100%;
      outline: none;
      cursor: pointer;

      &:required:invalid {
        color: #777777;
      }
    }

    .custom-input__error {
      color: $color-red;
      font-size: $fs-13;
    }
  }
  &__label {
    font-size: $fs-14;
    font-family: $f-family;
    color: #29303b;
    font-weight: 700;
    text-align: left;
  }
}
.custom-input__error {
  text-align: left !important;
}

.field-requirment {
  color: red;
  font-weight: 700;
  font-size: 16px;
}
